{% load static %}
<div class="container-fluid home-slider">

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #343a40!important">
                <div class="carousel-caption d-none d-md-block">

                    <h1 class="">Поиск по достижениям:</h1>
                    <hr>
                    <!-- метод get, имя параметры q, отправлять по адресу search_results -->
                    <form action="{% url 'search_achievement' %}" method="get" class="my-2 my-lg-0">
                        <input name="q" type="text" class="form-control" placeholder="Поиск по достижениям" aria-label="Поиск">
                        <button class="btn btn-outline-success mt-3" type="submit">Поиск</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
