{% extends './base.html' %}
{% load static %}

<!--    TITLE УНИКАЛЬНЫЙ -->

{% block title %}Подробности достижения{% endblock %}

<!--ЗАГОЛОВОК-->

{% block header %}
<div class="container-fluid home-slider">

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #343a40!important">
                <div class="carousel-caption d-none d-md-block">

                <h1>{{achieve.name}}</h1>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--    ОСНОВНОЙ БЛОК КОНТЕНТА -->

{% block content %}

<!-- ВЫВОД ПОЛЕЙ НАШЕЙ ЗАПИСИ -->

<div class="container-fluid">

    <div class="row">

        <div class="col-12 my-2">
            <div class="card  border-success">
              <h4 class="card-header text-center bg-success">Описание:</h4>
              <div class="card-body ">
                  <p class="card-text">{{achieve.description|safe}}</p>
              </div>
            </div>
        </div>

        {% if achieve.list_studied == '' %}
        {% else %}
        <div class="col-12 my-2">
            <div class="card border-success">
              <h4 class="card-header text-center bg-success ">Что было изучено:</h4>
              <div class="list_achieve">{{achieve.list_studied|safe}}</div>
        </div>
        {% endif %}

        {% if achieve.benefit == '' %}
        {% else %}
        <div class="col-12 my-2">
            <div class="card border-success">
              <h4 class="card-header text-center bg-success">Полезность:</h4>
              <div class="list_achieve">{{achieve.benefit|safe}}</div>
        </div>
        {% endif %}

        {% if achieve.links == '' %}
        {% else %}
        <div class="col-12 my-2">
            <div class="card border-success">
              <h4 class="card-header text-center bg-success">Ссылки по теме:</h4>
              <div class="list_achieve">{{achieve.links|safe}}</div>
            </div>
        </div>
        {% endif %}

        {% if achieve.certificate == '' or achieve.certificate == 'img/achievements/default.jpg'%}
        {% else %}
        <div class="col-12 my-2">
            <div class="card border-success">
              <h4 class="card-header text-center bg-success">Сертификат:</h4>
              <img src='{{achieve.certificate.url}}' alt="" class="card-img-bottom certificate_img mx-auto">
              <div class="list_achieve">{{achieve.certificate}}</div>
            </div>
        </div>
        {% endif %}

    </div>

</div>

{% endblock %}