
<!-- ГЛАВНАЯ СТРАНИЦА -->

<!-- extends - эта страница является расширением базовой (описывает того что нет) - в ней есь блоки-->
{% extends './base.html' %}
{% load static %} <!-- обязательно после extends -->

<!--    TITLE УНИКАЛЬНЫЙ -->

{% block title %}Главная страница моего блога{% endblock %}

<!--ЗАГОЛОВОК-->

{% block header %}
<div class="container-fluid home-slider">

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #343a40!important">
                <div class="carousel-caption d-none d-md-block">

                <h1>Доброй пожаловать!</h1>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--    ОСНОВНОЙ БЛОК КОНТЕНТА -->

{% block content %}
    <div class="container-fluid">
      <h1 class="my-3 text-center">Главная страница</h1>

      <!-- ВСТУПИТЕЛЬНАЯ РЕЧЬ-->

      <div class="container-fluid bg-warning">
        <p>Привет. Вы находитесь на моем сайте. Я аспирант МФТИ с сделал этот сайт в качестве хобби в также для оттачивванря своих навыков по использованию фреймворка Django на python.
        Мои увлечения это радиотехника и программирование.</p>
        <p>Обучение:</p>
        <p>В 2019 году я закончил калужский филиал московского гожустраченного технического интститута им Н.Э.Баумана.</p>
        <p>Моя специальность "Проектирование и производство радио электронной аппаратуры"..</p>
      </div>

      <div class="row">

        <!-- ЛЕВАЯ КОЛОНКА-->

        <div class="col-md-6">

          <!-- КАРТТОЧКА 1 - Введение -->

           <div class="card mb-4 shadow-sm">
            <h4 class="card-header text-center">Приветствие</h4>
            <img src="{% static 'img/website_cut.jpg' %}" alt="" class="card-img-top ">
            <div class="card-body">
              <p class="card-text">
                Добро пожаловать.
              </p>
            </div>
          </div>

          <!-- КАРТТОЧКА 2 - обучение -->

          <div class="card mb-4 shadow-sm">
            <h4 class="card-header text-center">Обучение</h4>
            <img src="{% static 'img/study_cut.jpg' %}" alt="" class="card-img-top ">
            <div class="card-body">
              <p class="card-text">

                <ul class="">
                  <li class="">
                    В 2019 году закончил бакалавриат КФ МГТУ им. Н. Э. Баумана по направлению
                    "Конструирование и производство радиоэлектронной аппаратуры".
                  </li>
                  <li class="">
                    В 2021 году закончил магистратуру МФТИ по специальности "Прикладные математика и физика". </p>
                  </li>
                  <li class="">
                    В данный момент являюсь аспирантом МФТИ по специальности "Радиофизика". </p>
                  </li>
                </ul>

              </p>
            </div>
          </div>

        </div>

        <!-- ПРАВАЯ КОЛОНКА -->

        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'img/borisov.jpg' %}" alt="" class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">Вторая карточка</h4>
              <p class="card-text">Описание меня. Описание меня. Описание меня. </p>

            </div>
          </div>
        </div>

      </div>
    </div>
{% endblock %}