
<!-- ГЛАВНАЯ СТРАНИЦА -->

<!-- extends - эта страница является расширением базовой (описывает того что нет) - в ней есь блоки-->
{% extends './base.html' %}
{% load static %} <!-- обязательно после extends -->

<!--    TITLE УНИКАЛЬНЫЙ -->

{% block title %}Главная страница моего блога{% endblock %}

<!--    СЛАЙДЕР ТОЛЬКО НА ГЛАВНОЙ, ГДЕ-ТО ВМЕСТО НЕГО ПРОСТО ХЭДЭР, А ГДЕ-ТО ЕГО НЕТ -->

{% block header %}
    {% include './block/slider.html' %}
{% endblock %}

<!--    ОСНОВНОЙ БЛОК КОНТЕНТА -->

{% block content %}
<div class="container">
  <h1 class="my-3">Последние записи блога</h1>
  <div class="row">
    {% for post in page_obj  %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="./media/{{ post.image }}" alt="" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">{{ post.h1 }}</h4>
          {{ post.description|safe|truncatechars:100 }}

          <!-- ОТКРЫТЬ КОНКРЕТНУЮ СТАТЬЮ - подробнее -->

          <div class="d-flex justify-content-between align-items-center">
            <!-- сначала тег юрл - затем имя маршрута из urls.py а затем параметры (slug), можно юзать get_absolute_url  но сначала его нужно писать в моделе -->
            <div class="btn-group">
              <a href="{% url 'post_detail' slug=post.url %}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
            </div>
            <small class="text-muted">{{ post.created_at }}</small>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

<!--    ПАГИНАЦИЯ ГДЕ-ТО ЕСТЬ А ГДЕ-ТО НЕТУ -->

{% block pagination %}

    <!-- ПАГИНАЦИЯ СВОИМИ РУКАМИ - отличие от стандартной actived = desabled-->

    <nav aria-label="Paginate me">
      <ul class="pagination justify-content-center">

        <!-- Предыдущий маркер -->
        <!-- ОПИСАНИЕ - доступная ссылка - нет класса, недоступная ссылка disabled, неактивная ссылка=доступная, активная active-->
        <!-- ОПереключение страница - href="?page=1  -->

        {% if page_obj.has_previous %}
            <!-- Доступная ссылка на предыдущую страницу-->
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
        {% else %}
            <!-- НЕдоступная ссылка на предыдущую страницу - disabled -->
            <li class="page-item disabled">
                <a class="page-link disabled" href="#" tabindex="-1">Предыдущая</a>
            </li>
        {% endif %}


        <!-- page_range - диапазон страниц (1, 4) -->
        {% for i in page_obj.paginator.page_range %}
            <!-- number - текущая страница -->
            {% if i == page_obj.number %}
                <!-- Активная текущая страница - active-->
                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
                <!-- НЕАктивная текущая страница-->
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        <!-- Следующий маркер -->

        {% if page_obj.has_next %}
            <!-- Доступная ссылку на предыдущую страницу-->
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        {% else %}
            <!-- НЕдоступная ссылку на предыдущую страницу - disabled -->
            <li class="page-item disabled">
                <a class="page-link" href="#">Следующая</a>
            </li>
        {% endif %}
      </ul>
    </nav>
    <br>
{% endblock %}